.container-fluid{
    position: relative;
    border:1px solid darkblue;
    margin: auto;
    padding: 10px;
}

.container{
    width: 80%;
    margin: 5px auto;
    border: 1px solid brown;
    box-shadow: 1px 1px 1px darkred;
    padding:10px;
    background-color: rgba(10,25,25);
}
.container1{
    width: 80%;
    margin: 5px auto;
    border: 1px solid brown;
    box-shadow: 1px 1px 1px darkred;
    padding:10px;  
    background-color: rgba(10,25,25);
}

input{
    margin: auto 10px;
    display: inline-block;
    width: 45px;
    text-align: center;
    font-family: sans-serif;
    font-style: none;
    text-align: center;
    font-size: 5px;
    border-radius: 10%;
}

input:hover{
    background-color: rgba(10,25,25);
    color:goldenrod;
}

#score:hover{
    background: none;
}

#score {
    width: 80px;
}

.score-table button{
    width: 40px;
    height: 15px;
    font-size: 5px;
    text-align: center;
    margin: 0px;
    border-radius: 4px;
}

#btnSave{
    float: right;
    margin-right: 24px;
}
